name: Quarto Publish

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true  # faster binary installs on Linux

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            any::tidyverse
            any::data.table
            any::forecast
            any::ggplot2
            any::gt
            any::tsibble
            any::plotly
            any::modelsummary
            any::katex
          cache-version: 1

      - uses: quarto-dev/quarto-actions/setup@v2

      - name: Render site
        run: quarto render

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: _site

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
